/* Write your CSS here */
.tabOptions {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.repos {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.failure{
  height: 300px;
  width: 300px;
}